.card-component {
  background-color: sandybrown;
  color: seashell;
  padding: 1.5em;
  border-radius: 1em;
  max-width: 200px;
  min-height: 200px;

  h2 {
    margin: 0;
    text-align: center;
  }
}
