<!-- TODO: Create a component for playground progress report -->
<p>This is my playground for learning Angular.</p>
<p>Some of the things that I have learnt so far include:</p>
<ul>
  <li>
    <dl>
      <dt>Components</dt>
      <dd>
        Learnt how to generate a component and all the parts of a component.
      </dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Directives</dt>
      <dd>
        Learnt about some directives eg, <code>*ngFor</code>,
        <code>*ngIf</code>, <code> [(ngModel)] </code>.
      </dd>
      <dd>
        Learnt that to use the <code> [(ngModel)] </code> you have to import
        <code>FormsModule</code> from <code>@angular/core</code>.
      </dd>
      <dd>
        Learnt how to bind a class (let's say the class is called 'select') to
        an element in the DOM using the syntax
        <code>[class.select]='condition'</code> to add a class when a condition
        is met.
      </dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Decorators</dt>
      <dd>
        Learnt about the <code>@component</code> and
        <code
          ><a
            href="https://angular.io/guide/dependency-injection"
            target="_blank"
            rel="noopener noreferrer"
            >@injectable</a
          >
        </code>
        decorators.
      </dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Services</dt>
      <dd>
        Learnt how to use
        <a
          href="https://angular.io/guide/singleton-services"
          target="_blank"
          rel="noopener noreferrer"
          >services</a
        >
        in angular.
      </dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Dependency Injections</dt>
      <dd>
        Learnt how to use
        <a
          href="https://angular.io/guide/dependency-injection-providers"
          target="_blank"
          rel="noopener noreferrer"
          >dependency injections</a
        >
        in angular,
        <a
          href="https://angular.io/guide/dependency-injection"
          target="_blank"
          rel="noopener noreferrer"
          >service dependency injections</a
        >
        in particular.
      </dd>
    </dl>
  </li>
</ul>

<ol start="3">
  <li>
    Create a Feature Component
    <dl>
      <dt>
        <a
          href="https://angular.io/guide/architecture-components#introduction-to-components-and-templates"
          >Components</a
        >
      </dt>
      <dd>I created a separate, reusable <code>HeroDetailComponent</code>.</dd>
      <dt>
        <a href="https://angular.io/guide/binding-syntax#binding-syntax"
          >Binding</a
        >
      </dt>
      <dd>
        I used
        <code
          ><a href="https://angular.io/guide/property-binding#property-binding"
            >property binding</a
          ></code
        >
        to give the parent <code>HeroesComponent</code> control over the child
        <code>HeroDetailComponent</code>.
      </dd>
      <dt>
        <a href="https://angular.io/guide/glossary#decorator--decoration"
          >Decorator | Decoration</a
        >
      </dt>
      <dd>
        I used the
        <a href="https://angular.io/api/core/Input">@Input</a> decorator to make
        the <code>hero</code> property available for binding by the external
        <code>HeroesComponent</code>.
      </dd>
    </dl>
  </li>
</ol>
<!-- Playground progress report ends here -->
