<h1>{{ title }}</h1>
<!-- TODO: Create a component for playground progress report -->
<p>This is my playground for learning Angular.</p>
<p>Some of the things that I have learnt so far include:</p>
<ul>
  <li>
    <dl>
      <dt>Components</dt>
      <dd>
        Learnt how to generate a component and all the parts of a component.
      </dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Directives</dt>
      <dd>
        Learnt about some directives eg, <code>*ngFor</code>,
        <code>*ngIf</code>, <code> [(ngModel)] </code>.
      </dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Decorators</dt>
      <dd>
        Learnt about the <code>@component</code> and
        <code
          ><a
            href="https://angular.io/guide/dependency-injection"
            target="_blank"
            rel="noopener noreferrer"
            >@injectable</a
          >
        </code>
        decorators.
      </dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Services</dt>
      <dd>
        Learnt how to use
        <a
          href="https://angular.io/guide/singleton-services"
          target="_blank"
          rel="noopener noreferrer"
          >services</a
        >
        in angular.
      </dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Dependency Injections</dt>
      <dd>
        Learnt how to use
        <a
          href="https://angular.io/guide/dependency-injection-providers"
          target="_blank"
          rel="noopener noreferrer"
          >dependency injections</a
        >
        in angular,
        <a
          href="https://angular.io/guide/dependency-injection"
          target="_blank"
          rel="noopener noreferrer"
          >service dependency injections</a
        >
        in particular.
      </dd>
    </dl>
  </li>
</ul>
<!-- Playground progress report ends here -->
<app-courses></app-courses>
<app-authors></app-authors>
