<h1>{{ title }}</h1>
<!-- TODO: Create a component for playground progress report -->
<p>This is my playground for learning Angular.</p>
<p>Some of the things that I have learnt so far include:</p>
<ul>
  <li>
    <dl>
      <dt>Components</dt>
      <dd>
        Learnt how to generate a component and all the parts of a component.
      </dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Directives</dt>
      <dd>
        Learnt about some directives eg, <code>*ngFor</code>,
        <code>*ngIf</code>, <code> [(ngModel)] </code>.
      </dd>
    </dl>
  </li>
  <li>
    <dl>
      <dt>Decorators</dt>
      <dd>
        Learnt about the <code>@component</code> and
        <code>@injectable</code> decorators.
      </dd>
    </dl>
  </li>
  <li>Services</li>
  <li>Dependency Injections</li>
</ul>
<!-- Playground progress report ends here -->
<app-courses></app-courses>
<app-authors></app-authors>
